* {
    text-align: justify;
}
body {
    background: wheat;
}
h1 {
    font-family: sans-serif;
    color: crimson;
}
h2, h3 {
    font-family: sans-serif;
    color: orchid;
}

nav ul {
    background: blue;
    border-radius: 1rem;
    padding: 1vmin;
    text-align: center;
}
nav li {
	margin: 0.2em;
    border-radius: 0.25rem;
	display: inline-block;
	list-style-type: none;
    border: solid black thin;
}
li {
	margin-top: 0.5em;
	margin-left: 2em;
}
nav li>a {
	padding: 0.5rem;
	background: #BB0000;
	color: white;
	border-radius: 0.25rem;
	text-decoration: none;
	display: block;
}
p {
    font-family: system-ui;
    font-size: 8;
    color: black;
}
details{
    font-family: system-ui;
    font-size: 8;
    color: black;
}
nav li>a:hover {
	background: green;
	color: #000;
}
:target {
	background: #009EE23F;
	border: solid thin;
    border-radius: 1rem;
    padding: 1vmin
}
:target details[open] {
    background: #1055723f;
    padding: 3px;
    border-radius: 1rem;
}
footer{
    text-align: center;
}
